<!-- <app-navigation></app-navigation>
<app-background></app-background> -->
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
      <mat-toolbar class="homenav" color="primary">
        <a routerLink=""><i class="fas fa-home"></i>Home</a>
      </mat-toolbar>
      <mat-toolbar class="categorynav" color="theme">Categories</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/movies"><i class="fas fa-film"></i> Movies</a>
        <a mat-list-item routerLink="/music"><i class="fas fa-music"></i> Music</a>
        <a mat-list-item routerLink="/videos"><i class="fas fa-video"></i> Videos</a>
        <a mat-list-item routerLink="/search"><i class="fas fa-search"></i> Search Movies</a>
      </mat-nav-list>
      <mat-toolbar class="usernav" color="theme" style="margin-top: 10px;">User</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/login"><i class="fas fa-sign-in-alt"></i> Log In</a>
        <a mat-list-item routerLink="/registration"><i class="fas fa-user-plus"></i> Register</a>
      </mat-nav-list> 
        
      
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Entertainment App</span>
      </mat-toolbar>
      <app-background></app-background>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
