.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
  }
  
  i {
    padding-right: 5px;
  }

  .homenav a {
    color: white;
  }