.filter-wrapper {
  padding: 100px 25px;
}

#keyword {
  border: 1px solid #ccc;
  padding: 10px;
  font: 1.5em 'Arimo', sans-serif;
  width: auto;
  outline: none;
  transition: border 0.5s ease-in-out
}

#keyword:focus {
  border-color : deepskyblue;
}

input {
  margin-right: 10px;
}

mat-card {
  margin: 10px 0px 10px;
  color : deepskyblue;
}

