/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
// @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '~@angular/material/prebuilt-themes/purple-green.css';

html, body { 
    height: 100%; 
}

body { 
    margin: 0;
    font-family: 'Roboto', sans-serif; 
}

a {
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    color: rgb(88, 84, 84);
}

mat-card {
    text-align: center;
    margin: 2px;
}

mat-card-title a {
    color: deepskyblue;
}

.details {
    text-transform: capitalize;
}