<div class="container">
<h3>User Registration</h3>
<form [formGroup]="user" (ngSubmit)="onSubmit(user.value)" class="form">
  <div class="form-container">
    <mat-form-field class="form-input">
      <input matInput type="text" formControlName="firstName" placeholder="First name *">
      <mat-error *ngFor="let validation of validation_messages.firstName">
        <mat-error class="error-message" *ngIf="user.get('firstName').hasError(validation.type) && (user.get('firstName').dirty || user.get('firstName').touched)">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-input">
      <input matInput type="text" formControlName="middleName" placeholder="Middle name">
      <mat-error *ngFor="let validation of validation_messages.middleName">
        <mat-error class="error-message" *ngIf="user.get('middleName').hasError(validation.type) && (user.get('middleName').dirty || user.get('middleName').touched)">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-input">
      <input matInput type="text" formControlName="lastName" placeholder="Last name *">
      <mat-error *ngFor="let validation of validation_messages.lastName">
        <mat-error class="error-message" *ngIf="user.get('lastName').hasError(validation.type) && (user.get('lastName').dirty || user.get('lastName').touched)">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-input">
      <input matInput type="text" formControlName="phoneNumber" placeholder="Phone number *">
      <mat-error *ngFor="let validation of validation_messages.phoneNumber">
        <mat-error class="error-message" *ngIf="user.get('phoneNumber').hasError(validation.type) && (user.get('phoneNumber').dirty || user.get('phoneNumber').touched)">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
    <!-- <div formGroupName="address"> -->
    <mat-form-field class="form-input">
      <input matInput type="text" formControlName="addressLine1" placeholder="Address line1 *">
      <mat-error *ngFor="let validation of validation_messages.addressLine1">
        <mat-error class="error-message" *ngIf="user.get('addressLine1').hasError(validation.type) && (user.get('addressLine1').dirty || user.get('addressLine1').touched)">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-input">
      <input matInput type="text" formControlName="addressLine2" placeholder="Apt or Suite number">
      <mat-error *ngFor="let validation of validation_messages.addressLine2">
        <mat-error class="error-message" *ngIf="user.get('addressLine2').hasError(validation.type) && (user.get('addressLine2').dirty || user.get('addressLine2').touched)">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-input">
      <input matInput type="text" formControlName="city" placeholder="City *">
      <mat-error *ngFor="let validation of validation_messages.city">
        <mat-error class="error-message" *ngIf="user.get('city').hasError(validation.type) && (user.get('city').dirty || user.get('city').touched)">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-input">
        <input matInput type="text" formControlName="state" placeholder="State *">
        <mat-error *ngFor="let validation of validation_messages.state">
          <mat-error class="error-message" *ngIf="user.get('state').hasError(validation.type) && (user.get('state').dirty || user.get('state').touched)">{{validation.message}}</mat-error>
        </mat-error>
        <!-- <mat-select formControlName="state" placeholder="Select me">
            <mat-option value="Minnesota">Minnesota</mat-option>
          </mat-select> -->
    </mat-form-field>
    <mat-form-field class="form-input">
      <input matInput type="text" formControlName="zipcode" placeholder="Zipcode *">
      <mat-error *ngFor="let validation of validation_messages.zipcode">
        <mat-error class="error-message" *ngIf="user.get('zipcode').hasError(validation.type) && (user.get('zipcode').dirty || user.get('zipcode').touched)">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
        <!-- </div> -->
    <mat-form-field class="form-input">
      <input matInput type="text" formControlName="email" placeholder="Email address *">
      <mat-error *ngFor="let validation of validation_messages.email">
        <mat-error class="error-message" *ngIf="user.get('email').hasError(validation.type) && (user.get('email').dirty || user.get('email').touched)">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-input">
      <input matInput type="password" formControlName="password" placeholder="Password *">
      <mat-error *ngFor="let validation of validation_messages.password">
        <mat-error class="error-message" *ngIf="user.get('password').hasError(validation.type) && (user.get('password').dirty || user.get('password').touched)">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
    <div class='formbutton'>
      <button mat-raised-button color="primary" type="submit" [disabled]="!user.valid" style="align-self: center;"><b>Submit</b></button>
      <!-- <button mat-raised-button color="primary" (click)="reset()"><b>Reset</b></button> -->
    </div>
  </div>
  </form>
</div>