<div class="container">
<h3>User Registration</h3>
<form [formGroup]="user" (ngSubmit)="onSubmit(user)" class="form">
  <div class="form-container">
    <mat-form-field class="form-input">
      <input matInput type="text" formControlName="firstName" placeholder="First name">
    </mat-form-field>
    <mat-form-field class="form-input">
      <input matInput type="text" formControlName="middleName" placeholder="Middle name">
    </mat-form-field>
    <mat-form-field class="form-input">
      <input matInput type="text" formControlName="lastName" placeholder="Last name">
    </mat-form-field>
    <mat-form-field class="form-input">
      <input matInput type="text" formControlName="phoneNumber" placeholder="Phone number">
    </mat-form-field>
    <!-- <div formGroupName="address"> -->
    <mat-form-field class="form-input">
      <input matInput type="text" formControlName="addressLine1" placeholder="Addressline1">
    </mat-form-field>
    <mat-form-field class="form-input">
      <input matInput type="text" formControlName="addressLine2" placeholder="Apt or Suite number">
    </mat-form-field>
    <mat-form-field class="form-input">
      <input matInput type="text" formControlName="city" placeholder="City">
    </mat-form-field>
    <mat-form-field class="form-input">
        <input matInput type="text" formControlName="state" placeholder="State">
        <!-- <mat-select formControlName="state" placeholder="Select me">
            <mat-option value="Minnesota">Minnesota</mat-option>
          </mat-select> -->
    </mat-form-field>
    <mat-form-field class="form-input">
      <input matInput type="text" formControlName="zipcode" placeholder="Zipcode ">
    </mat-form-field>
        <!-- </div> -->
    <mat-form-field class="form-input">
      <input matInput type="text" formControlName="email" placeholder="Email address">
    </mat-form-field>
    <mat-form-field class="form-input">
      <input matInput type="password" formControlName="password" placeholder="Password">
    </mat-form-field>
    <div class='formbutton'>
      <button mat-raised-button color="primary" type="submit" [disabled]="!user.valid"><b>Submit</b></button>
      <button mat-raised-button color="primary" (click)="reset()"><b>Reset</b></button>
    </div>
  </div>
  </form>
</div>