<h1>Find a Movie</h1>
<p>search for your favorite movie...</p>
<!-- <form (submit)="searchMovies()">
  <input type="text" class="form-control" placeholder="Enter movie name" ng-model="Search" style="margin-right: 10px;">
  <button type="submit" class="btn btn-default" ng-click="getMovie()">Find</button>
</form> -->

<section class="filter-wrapper">
  <div class="keyword-wrapper">
    <input type="text" id="keyword" placeholder="Enter movie name..." autofocus/>
  </div>
  <ul class="filter-select">
    <li class="filter-select-list"><p class="artist-name"></p>
    <span class="tags"></span>
  </ul>
</section>